.main {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    width: 1280px;
}

/* ГОЛОВА */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    color: black;
    font-size: 80px;
    text-decoration: none;
}

.logo_p {
    padding-bottom: 45px;
    padding-top: 60px;
}

.logo_span {
    color: #4bcaff;
}

.head_menu {
    background-color: #35444f;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.head_menu_li {
    align-items: center;
    list-style-type: none;
    text-align: center;
}

.head_a {
    color: white;
    font-size: 24px;
    line-height: 70px;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
}

.head_a:hover {
    background-color: #222f3a;
}

/* ТЕЛО */
.body {
    display: flex;
    margin-top: 50px;
}

/*САЙДБАР*/
.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar_menu {
    border: 1px solid black;
    list-style-type: none;
    width: 340px;
}

.sidebar_li {
    width: 400px;
}

.sidebar_a {
    color: #495863;
    display: flex;
    font-size: 27px;
    padding: 30px 0 30px 30px;
    text-align: left;
    text-decoration: none;
}

.sidebar_a:hover {
    background-color: #dbdbdb;
    color: black;
    padding-left: 50px;
}

/*КОНТЕНТ*/
.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 50px;
}

.img_div {
    align-items: center;
    border: 1px solid black;
    display: flex;
    height: 529px;
    justify-content: center;
    margin-bottom: 20px;
    width: 885px;
}

.image {
    height: 381px;
    padding: 0 0 0 0;
    width: 320px;
}

.image:hover {
    height: 500px;
    width: auto;
    transition: all 1s ease-out 0s;
}

.main_text {
    color: #2c2b2b;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 24px;
    padding: 30px 50px 0 50px;
    text-align: left;
}

/* footer */
.footer {
    background-color: #b4b7ba;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer_ul {
    display: inline-flex;
    padding-left: 20px;
}

.footer-li {
    display: block;
    font-size: 28px;
    height: 30px;
    padding: 22px 10px 0px 10px;
}

.footer_a {
    color: #0c1927;
    text-decoration: none;
}

.footer_a:hover {
    border-bottom: 2px solid #3181a6;
    color: #3181a6;
}

.copyright {
    color: #010000;
    display: inline-block;
    font-size: 24px;
    justify-content: center;
    padding-bottom: 21px;
    padding-right: 34px;
    padding-top: 25px;
    text-align: center;
    text-decoration: none;
}
