.table-container {
    font-family: 'Arimo', sans-serif;
    margin: 0 auto;
}

caption {
    color: #5f5e5e;
    font-size: 60px;
    font-weight: 700;
}

img {
    height: 20px;
    position: relative;
    right: 5px;
    top: 4px;
    width: 20px;
}

table {
    border: 30px solid #374765;;
    border-collapse: collapse;
    color: #484848;
    margin: 0 auto;
}

tr {
    height: 69px;
}

td, th {
    border: 1px solid #dbdbdb;
    box-shadow: inset 9px 0 5px -10px black;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

th {
    border: none;
    box-shadow: none;
    font-weight: 700;;
}

th:first-child {
    background-color: white;
    color: #484848;
    height: 156px;
    width: 310px;

}

th:first-child p:first-child {
    font-size: 18px;
}

th:first-child p:nth-child(2) {
    font-size: 30px;
}

th:nth-child(2) {
    background-color: #89c331;
    color: #ffffff;
    font-size: 24px;
    height: 70px;
    width: 277px;
}

th:nth-child(3) {
    background-color: #f04a56;
    color: #ffffff;
    font-size: 30px;
    height: 71px;
    width: 277px;
}

th:nth-child(4) {
    background-color: #20807c;
    color: #ffffff;
    font-size: 24px;
    height: 70px;
    width: 277px;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
    width: 277px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
    width: 277px;
}

thead td {
    background-color: white;
    color: #484848;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
}

thead td p:before {
    bottom: 25px;
    color: #484848;
    content: ".99";
    font-size: 24px;
    left: 135px;
    position: relative;
}

thead td p:after {
    content: "per month";
    font-size: 18px;
    font-weight: 400;
}
tfoot td {
    padding: 30px 43px;
}

tfoot td:first-child {

    padding: 30px 60px;
}

tfoot td a {
    border-radius: 5px;
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: 29px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    width: 192px;

}

tfoot td:first-child a {
    background: linear-gradient(to bottom, #464646 90%, #3e3e3e 10%);
}

tfoot td:first-child a:hover {
    background: linear-gradient(to bottom, #3e3e3e 90%, orangered 10%);
}

tfoot td:nth-child(2) a {
    background: linear-gradient(to bottom, #8ac42d 90%, #7ab122 10%);
}

tfoot td:nth-child(2) a:hover {
    background: linear-gradient(to bottom, #7ab122 90%, #8ac42d 10%);
}

tfoot td:nth-child(3) a {
    background: linear-gradient(to bottom, #f04a56 90%, #df3a46 10%);
}

tfoot td:nth-child(3) a:hover {
    background: linear-gradient(to bottom, #df3a46 90%, #f04a56 10%);
}

tfoot td:last-child a {
    background: linear-gradient(to bottom, #20807c 90%, #16736f 10%);
}

tfoot td:last-child a:hover {
    background: linear-gradient(to bottom, #16736f 90%, #20807c 10%);
}
