.index-page {
    font-family: Verdana, sans-serif;
    margin: 0 auto;

}

.container {

    background: url("../img/rana-sawalha-364253-unsplash@1X.png") center;
    background-size: cover;

}

.welcome-green-link {
    border: 1px solid transparent;
    color: #3cb878;
    text-decoration: none;
}

.content-box-square {
    position: relative;
    top: -250px;
}

.green-square {
    background-color: #3cb878;
    height: 18px;
    left: 18px;
    position: relative;
    /*top: -251px;*/
    width: 18px;
}

.welcome-green-link:hover {
    border-bottom: 1px solid #3cb878;
    transition: .4s;
}

.header {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    height: 7vh;
    justify-content: space-between;
}

.logo-journey {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    margin: 0 0 0 80px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-journey:hover {
    color: #3cb878;
    transition: .4s;
}

.header-icons {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.cal {
    background: url("../img/sprites.png") 0 0 no-repeat;
    height: 19px;
    margin: 20px 14px;
    position: relative;
    width: 19px;
}

.cal::after {
    background: url("../img/sprites.png") -97px 0px no-repeat;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.5s;
}

.cal:hover::after {
    opacity: 1;
    transition: opacity 0.5s;
}

.comments {
    background: url("../img/sprites.png") -29px 0 no-repeat;
    height: 20px;
    margin: 20px 14px;
    position: relative;
    width: 28px;
}

.comments::after {
    background: url("../img/sprites.png") -126px 0 no-repeat;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.5s;
}

.comments:hover::after {
    opacity: 1;
    transition: opacity 0.5s;
}

.compass {
    background: url("../img/sprites.png") -67px 0px no-repeat;
    height: 20px;
    margin: 20px 15px;
    position: relative;
    width: 20px;
}

.compass::after {
    background: url("../img/sprites.png") -164px 0px no-repeat;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.5s;
}

.compass:hover::after {
    opacity: 1;
    transition: opacity 0.5s;
}

.header-right-side {
    align-items: center;
    display: flex;
}

.welcome {
    align-items: center;
    border-left: 2px solid #5f5e5e;
    color: white;
    display: inline-flex;
    justify-content: center;
    padding: 0 80px 0 15px;
}

/*КОНТЕНТ BOX*/
.content {
    align-items: center;
    display: flex;
    height: 93vh;
    justify-content: center;
}

.content-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    display: flex;
    flex-direction: column;
    height: 524px;
    padding: 30px 60px;
    width: 324px;
}

.content-box-sign-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.content-box-sign-up {
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}

/*ПЕДАЛИ ГУГБУКА*/

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.loginbtn {
    border: none;
    border-radius: 0.2em;
    box-sizing: border-box;
    color: #FFF;
    font-size: 16px;
    height: 46px;
    line-height: 34px;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 157px;
}

.loginbtn:before {
    box-sizing: border-box;
    content: "";
    height: 100%;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 40px;

}

.loginbtn:focus {
    outline: none;
}

.loginbtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginbtn--facebook {
    background-color: #305db8;
    /*background-image: linear-gradient(#4C69BA, #3B55A0);*/
    text-shadow: 0 -1px 0 #354C8C;
}

.loginbtn--facebook:before {

    background: url(../img/facebook-f-brands.svg) 10px 0 no-repeat;
    border-right: #364e92 1px solid;
    height: 28px;
    top: 10px;

}

.loginbtn--facebook:hover,
.loginbtn--facebook:focus {
    background-color: #264b96;
    transition: .4s;
}

/* Google */
.loginbtn--google {
    background: rgb(223, 74, 50);
}

.loginbtn--google:before {
    background: url(../img/google-plus-g-brands.svg) 0px 0px no-repeat;
    border-right: #BB3F30 1px solid;
    height: 28px;
    left: 10px;
    top: 10px;
}

.loginbtn--google:hover,
.loginbtn--google:focus {
    background: #c3412c;
    transition: .4s;
}

/*КОНЕЦ ПЕДАЛЕЙ*/
/*OR*/
.content-box-or {
    margin-bottom: 18px;
    text-align: center;
}

.content-box-or {
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    overflow: hidden;
    text-align: center;
}

.content-box-or span {
    display: inline-block;
    vertical-align: middle;
}

.content-box-or:before,
.content-box-or:after {
    background-color: rgb(190, 190, 190);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.content-box-or:before {
    left: -14px;
    margin-left: -100%;
}

.content-box-or:after {
    margin-right: -100%;
    right: -14px;
}

/*OR END*/
.input-form {
    background-color: #ffffff;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    height: 6px;
    margin-bottom: 10px;
    outline: none;
    padding: 20px;
    width: 280px;
}

.input-form:focus {
    background-color: #ffffff;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);

}

.create-account {
    align-items: center;
    background-color: #3cb878;
    border-radius: 3px;
    color: white;
    display: flex;
    height: 46px;
    justify-content: center;
    text-decoration: none;
    width: 322px;
}

.create-account:hover {
    background-color: #319460;
    transition: .4s;
}

.content-box-checkbox {
    color: #434343;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 30px;
    padding-left: 35px;
    position: relative;
    user-select: none;
}

/* Hide the browser's default checkbox */
.content-box-checkbox input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    background-color: #eee;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ffffff;
    transition: .4s;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    display: none;
    position: absolute;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    border: solid #319460;
    border-width: 0 3px 3px 0;
    height: 10px;
    left: 6px;
    top: 2px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 5px;
}