body {
    color: white;
    font-family: 'Montserrat', sans-serif;

}

a {
    text-decoration: none;
}
.wrap {
    background-image: url("../img/background.png");
    background-size: cover;
    height: 100vh;
}

.container {
    margin: auto;
    width: 1060px;
}

/*HEADER*/
.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
}

.logo_link {
    display: flex;
    text-decoration: none;
}

.logo_link:hover p {
    color: orangered;
}

.logo_link:hover .logo_image {
    background-image: url(../img/logo_hover.png);
}

.logo_image {
    background-image: url(../img/logo.png);
    background-size: cover;
    height: 60px;
    width: 60px;
}

.logo_title {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    width: 140px;
}

.contacts {
    display: flex;
    flex-direction: column;
    height: 50px;
    color: white;
    text-align: right;
    text-decoration: none;
    justify-content: space-between;
}

.logo_milan {
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.logo_holidays {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/*CONTAINER*/
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1060px;
}

.content_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 312px;

}

.content_link {
    color: white;
    flex-direction: row;
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
}

.content_link:hover {
    color: orangered;
}

.img-wrapper {
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
    border-image-slice: 1;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 307px;
}

.content_link_more {
    background-color: orangered;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.content_block:hover .content_link_more {
    animation-duration: 1s;
    animation-name: slideUp;
    animation-timing-function: ease;
    opacity: 1;

}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
}

.content_link_more_info {
    color: white;
    font-size: 15px;
}

.content_link_more_price {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.content_link_more_priceinfo {
    padding: 5px;
}

.hover_info {
    color: white;
    font-size: 10px;
    padding: 10px 0 0 10px;
}

.hover_price {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 0 10px 10px;
}

.hover_link {
    align-self: flex-end;
    color: white;
    font-size: 12px;
    padding: 23px 15px 14px 15px;
    text-decoration: none;
}

.hover_link:after {
    content: '\003E';
    font-size: 12px;
    left: 5px;
    position: relative;
}

.footer {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

