/* Tiny reset thingy */
body, html {
    font-family: Montserrat, sans-serif;
}

.orange-span {
    color: #f1ad1d;
}

/*Parallax*/
.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 475px;
    justify-content: center;
    position: relative;
}

.parallax::after {
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

.static {
    background: white;
}

.bg-say::after {
    background: url('../img/bg2.jpg') center;
    background-size: cover;
}

.bg-secret::after {
    background: url('../img/bg3.jpg') center;
    background-size: cover;
}

.bg-trust::after {
    background: url('../img/bg4.jpg') center;
    background-size: cover;
}

/* КОНТЕНТ */

.title-section {
    align-items: flex-end;
    background: url("../img/bg1.jpg");
    background-size: cover;
    bottom: 0;
    display: flex;
    height: 100vh;
}

.logo {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.logo-title {
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 28px;
}

.logo-container {
    margin-bottom: 145px;
    margin-left: 82px;
}

.logo-we {
    background: white;
    border: 1px solid white;
    color: #f1ad1d;
    float: left;
    font-size: 54px;
    font-weight: 700;
    padding: 40px;
    text-transform: uppercase;
}

.logo-design {
    background-color: rgba(0, 0, 0, 0.50);
    border: 1px solid white;
    color: #ffffff;
    display: inline-block;
    font-size: 54px;
    font-weight: 700;
    padding: 40px;
    text-transform: uppercase;
}

.static-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding-bottom: 150px;
}

.static-title {
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.static-quote {
    color: #4d4943;
    font-family: Lato, sans-serif;
    font-size: 17px;
}

.section-title {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.section-quote {
    color: #ffffff;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
}

.logo-img {
    position: relative;
    top: 90px;
    align-items: center;
    display: flex;
}

.partner-logo {
    padding: 0 20px;
}

.orange-line::after {
    border-bottom: 3px solid #f1ad1d;
    content: '';
    display: block;
    left: 50%;
    position: relative;
    top: 52px;
    transform: translate(-50%);
    width: 60px;
}