body {
    background: #000;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.fade {
    background-image: linear-gradient(0deg, transparent, black 75%);
    min-height: 60vh;
    position: relative;
    top: -25px;
    width: 100%;
    z-index: 1;
}

.star-wars {
    color: #feda4a;
    display: flex;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    height: 800px;
    justify-content: center;
    letter-spacing: 6px;
    line-height: 150%;
    position: relative;
    text-align: justify;
    perspective: 400px;
}

.crawl {
    animation: crawl 60s linear;
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
}

.crawl > .title {
    font-size: 90%;
    text-align: center;
}

.crawl > .title h1 {
    text-transform: uppercase;
}

.crawl > .title p {
    font-size: 50%;
    margin-bottom: 100px;
}

.crawl > p {
    margin-bottom: 50px;
}

@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}