@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800');

* {
    margin: 0 auto;
}

body {
    display: flex;

    font-family: Montserrat, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container-wide {
    width: 100vw;
}

.content {
    width: 1160px;

}

.green {
    color: #18cfab;
}

/* HEADER */

.header {
    align-items: center;
    background-color: rgba(73, 71, 63, 0.6);
    display: flex;
    height: 100px;
    justify-content: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 1160px;
}

.header-logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.header-logo__name {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 31px;
}

.header-logo__name-span {

    font-size: 32px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    transform: scaleY(1.0015);

}

.header-menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.header-menu__item a {
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    text-transform: uppercase;
}

.header-menu__item a:hover {
    color: #18cfab;
}

.we-are-creative {
    background: url('../image/background/section-1(header).jpg') center center;
    height: 100vh;

}

.we-are-creative-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header-menu__item a {
    display: inline-block;
    position: relative;
    text-decoration: none;

}

.header-menu__item a:before {
    background: #18cfab;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    top: 71px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    width: 0;
}

.header-menu__item a:after {
    background-color: #18cfab;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    top: 71px;
    transition: width 0.3s ease-in-out;
    width: 0;

}

.header-menu__item a:hover:before {
    left: 0;
    width: 50%;
}

.header-menu__item a:hover:after {
    width: 50%;
}

/* HEADER */

.content-we-are-creative {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    line-height: 10px;
    margin-top: 240px;
    text-transform: uppercase;
}

.slogan {
    color: #ffffff;
    font-size: 79px;
    font-weight: 700;
    line-height: 74px;
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
}

.paragraph {
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    line-height: 74px;
    margin-top: 40px;
    text-align: center;
}

.square-block {
    display: flex;
    height: 375px;
}

.container-wide__square_green {
    align-items: center;
    background-color: #18cfab;
    border-top: 7px solid #1c2a33;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 120px;
    padding-top: 100px;
    text-transform: uppercase;
    width: 25%;

}

.container-wide__square_black {
    align-items: center;
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    color: #18cfab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 120px;
    padding-top: 100px;
    text-transform: uppercase;
    width: 25%;
}

.container-wide__paragraph {
    font-size: 20px;
    font-weight: 700;
}

/* ТАБЫ */
.tabs {
    display: flex;
    height: 80px;
}

.tabs__item {
    padding: 5px 5px;
    background-color: #f8fcfe;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-left: 1px solid #ebebeb;
    font-size: 20px;
    color: rgba(113, 113, 113, 255);

}

.tabs__item:last-child {
    border-right: 1px solid #ebebeb;
}

.tabs__item.active {
    border: 1px solid #18cfab;
    background-color: #18cfab;
    color: white;
}

.active + .tabs__item {
    border-left: 0;
}

.active:last-child {
    border-right: 0;
}

.tabs__item.active::after {
    content: '';
    border: 20px solid transparent;
    border-top-color: #18cfab;
    position: absolute;
    margin-top: 55px;
}

.tabs-content {
    display: none;
    padding-top: 24px;
    margin-bottom: 100px;
}

.tabs-content.active {
    display: flex;
}

.tabs-content__img {
    width: 195px;
    height: 140px;
    padding-top: 5px;
}

.tabs-content__paragraph {
    padding-left: 24px;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}



.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
}


h2 {
    font-size: 36px;
    color: #4e4e4e;
}


.green-line:before,
.green-line:after {
    content: '';
    display: inline-block;
    position: relative;
    width: 76px;
    height: 2px;
    vertical-align: middle;
    background: #18cfab;
}
.green-line:before {
    /*left: -10px;*/
    left: 10px;
    top:77px;
}
.green-line:after {
    right: 10px;

    top:35px;
}