body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 1280px;
}
a{
    text-decoration: none;
    color: #16a085;
}
.text {
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    margin: 20px;
    text-align: center;
    width: 1059px;
}
.nav-bar {
    display: inline-flex;
    font-size: 18px;
    font-weight: 900;
    justify-content: center;
    text-transform: uppercase;
    width: 1280px;
}
.content {
    align-items: center;
    background-color: #f5f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-link {
    font-family: 'Roboto', sans-serif;
    margin: 32px;
}
.title{
    font-size: 22px;
    font-weight: 900;
    margin-top: 60px;
    text-transform: uppercase;
}
.button {
    background: #16a085;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin-bottom: 90px;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 192px;
}
.copyright {
    color: rgb(55, 55, 55);
    font-size: 16px;
    margin: 47px 128px 47px 0;
    text-align: right;
}
